html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: bold;
	background-color: #849d8f;
	color: #ffffff;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body > input[type="radio"] {
	display: none;
}

.site-wrap {
	min-width: 1200px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition:
		background-image 0.5s ease,
		background-color 0.5s ease;
	-o-transition:
		background-image 0.5s ease,
		background-color 0.5s ease;
	transition:
		background-image 0.5s ease,
		background-color 0.5s ease;
}

.site-wrap::after,
.site-wrap::before {
	content: "";
	visibility: hidden;
}

.site-wrap::after {
	background-image: url("../img/slide-two.png");
}

.site-wrap::before {
	background-image: url("../img/slide-three.png");
}

.container {
	width: 1200px;
	padding: 0 27px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	display: inline-block;
	background: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)) , to(rgb(242,104,67)));
	background: -webkit-linear-gradient( left, rgb(231,74,53) 0% , rgb(242,104,67) 100%);
	background: -o-linear-gradient( left, rgb(231,74,53) 0% , rgb(242,104,67) 100%);
	background: linear-gradient( 90deg, rgb(231,74,53) 0% , rgb(242,104,67) 100%);
	-webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background:
		-webkit-gradient( linear, left top, right top, from(rgba(255,255,255,.2)), to(rgba(255,255,255,.2)) ),
		-webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)) );
	background:
		-webkit-linear-gradient( left, rgba(255,255,255,.2) 0%, rgba(255,255,255,.2) 100% ),
		-webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100% );
	background:
		-o-linear-gradient( left, rgba(255,255,255,.2) 0%, rgba(255,255,255,.2) 100% ),
		-o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100% );
	background:
		linear-gradient( 90deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.2) 100% ),
		linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100% );
	outline: 0;
}

.btn:active {
	background:
		-webkit-gradient( linear, left top, right top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)) ),
		-webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
	background:
		-webkit-linear-gradient( left, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100% ),
		-webkit-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	background:
		-o-linear-gradient( left, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100% ),
		-o-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	background:
		linear-gradient( 90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100% ),
		linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	-webkit-box-shadow: inset 0 2px 2px 0 #942718;
	box-shadow: inset 0 2px 2px 0 #942718;
}

/*Header*/

.header-navigation-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 9px;
}

.main-navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 560px;
	font-size: 16px;
	line-height: 18px;
}

.site-navigation,
.dropdown,
.user-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation {
	width: 375px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 11px;
}

.navigation-item {
	position: relative;
	padding-bottom: 5px;
}

.navigation-item span,
.footer-navigation-list a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.navigation-item > a {
	padding: 7px 12px;
	display: inline-block;
}

.navigation-item > a:focus,
.navigation-item > a:hover {
	background-color: #f7f6f3;
	color: #333333;
	border-radius: 20px;
	outline: 0;
}

.navigation-item > a:active {
	background: #ededed;
	-webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
	box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.site-navigation-current > a {
	background-color: #d07058;
	border-radius: 20px;
	padding: 7px 12px;
}

.dropdown {
	display: none;
	position: absolute;
	width: 144px;
	min-height: 170px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	background: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	top: 37px;
	left: -10px;
	z-index: 1;
}

.navigation-item:first-child:hover .dropdown {
	display: block;
}

.dropdown li:not(:first-child) {
	font-weight: normal;
}

.dropdown li:first-child {
	border-bottom: 1px solid rgba(53, 53,53, 0.2);
}

.dropdown a {
	display: block;
	padding: 10px 20px;
}

.dropdown a:hover,
.dropdown a:focus {
	background-color: #fbded8;
	outline: 0;
	border-radius: 5px;
}

.dropdown a:active {
	background: #f6b5a5;
}

.dropdown-current a {
	background: #d07058;
	color: #ffffff;
}

.user-navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;

	width: 570px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.user-navigation li {
	margin-left: 11px;
	position: relative;
	padding-bottom: 5px;
}

li[class^="header"] > a {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	display: inline-block;
}

li[class^="header"] > a:hover,
li[class^="header"] > a:focus {
	background-color: #f7f6f3;
	color: #333333;
	outline: 0;
}

li[class$="goods"] > a {
	background-color: #f7f6f3;
	color: #333333;
}

.header-search {
	padding-top: 4px;
}

.header-search > a {
	padding: 16px;
	border-radius: 50%;
	background: url("../img/loupe.svg") no-repeat center;
}

.header-search a:hover,
.header-search a:focus {
	background: url("../img/loupe-black.svg") no-repeat center;
}

.header-login > a {
	padding: 8px 15px 8px 44px;
	background: url("../img/enter-white.svg") no-repeat 16px center;
}

.header-login > a:hover,
.header-login > a:focus {
	background: url("../img/enter-black.svg") no-repeat 16px center;
}

.header-basket > a {
	padding: 8px 34px 8px 44px;
	background: url("../img/basket.svg") no-repeat 16px center;
}

.header-basket-goods > a {
	padding: 8px 16px 8px 44px;
	background: url("../img/basket-red.svg") no-repeat 16px center;
	min-width: 116px;
}

.header-basket > a:hover,
.header-basket > a:focus {
	background: url("../img/basket-red.svg") no-repeat 16px center;
}

input[type="search"],
input[type="text"],
input[type="password"],
input[type="email"],
.modal-feedback textarea {
	padding: 10px 15px 10px 15px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #999999;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #d3d3d2;
	box-shadow: inset 0 0 0 1px #d3d3d2;
}

.user-navigation input[type="search"] {
	width: 310px;
}

.user-navigation input[type="text"],
.user-navigation input[type="password"] {
	width: 240px;
}

input[type="search"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
.modal-feedback textarea:hover {
	-webkit-box-shadow: inset 0 0 0 2px #c7c6c5;
	box-shadow: inset 0 0 0 2px #c7c6c5;
}

input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.modal-feedback textarea:focus {
	-webkit-box-shadow: inset 0 0 0 2px #8fbdec;
	box-shadow: inset 0 0 0 2px #8fbdec;
	outline: 0;
}

.header-search-form {
	display: none;
	position: absolute;
	width: 340px;
	min-height: 80px;
	padding: 20px 15px;
	background: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	right: 0px;
	top: 37px;
	z-index: 1;
}

.header-search:hover .header-search-form {
	display: block;
}

.header-login-form {
	display: none;
	position: absolute;
	width: 280px;
	min-height: 215px;
	padding: 20px 10px 20px 20px;
	background: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	right: 0px;
	top: 37px;
	z-index: 3;
}

.header-login:hover .header-login-form {
	display: block;
}

.header-login-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-login-form input {
	margin-bottom: 20px;
}

.header-login-form a {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header-login-form a:hover,
.header-login-form a:focus {
	color: #e84d37;
	border-bottom: 1px solid rgba(236, 89, 60, 0.3);
	outline: 0;
}

.login-form-btn {
	padding: 10px 25px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 22px;
	margin-right: 20px;
}

.basket-hover {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	width: 540px;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: #f8f7f4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	right: 0px;
	top: 37px;
	z-index: 1;
}

.header-basket:hover .basket-hover,
.header-basket-goods:hover .basket-hover {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.table-basket {
	width: 100%;
	border-bottom: 1px solid #cacac7;
}

.table-basket img {
	border-radius: 50%;
}

.table-basket td {
	padding-right: 10px;
	padding-bottom: 10px;
}

.table-basket td:nth-child(3) {
	width: 242px;
}

.basket-close {
	width: 11px;
	height: 11px;
	background: url("../img/cross-small.svg") no-repeat center;
	border: none;
}

.basket-hover p {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 15px 0 0 0;
	padding: 0;
}

.basket-btn {
	padding: 10px 14px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 20px;
}

.basket-price {
	color: #999999;
}

.basket-sum {
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}

.header-contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.breadcrumbs-contacts-wrap {
	margin-top: -4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.breadcrumbs {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	margin-right: 20px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
}

.breadcrumbs a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	position: relative;
}

.breadcrumbs a::after {
	content: "»";
	position: absolute;
	color: #fff;
	right: -15px;
	top: 0;
}

.header-contacts-time {
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 4px 0;
	padding: 0;
}

.header-contacts-number {
	font-size: 22px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

/*main*/

.slider {
	position: relative;
	text-align: center;
	padding-top: 276px;
	margin-bottom: 41px;
}

.slider h2 {
	width: 700px;
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	margin: 0 auto;
	margin-bottom: 28px;
}

.slide {
	display: none;
}

#btn-one:checked ~ .site-wrap .slide-one,
#btn-two:checked ~ .site-wrap .slide-two,
#btn-three:checked ~ .site-wrap .slide-three {
	display: block;
}

#btn-one:checked ~ .site-wrap label[for="btn-one"],
#btn-two:checked ~ .site-wrap label[for="btn-two"],
#btn-three:checked ~ .site-wrap label[for="btn-three"] {
	background-color: #ffffff;
}

#btn-one:checked ~ .site-wrap {
	background-image: url("../img/slide-one.png");
	background-color: #849d8f;
}

#btn-two:checked ~ .site-wrap {
	background-image: url("../img/slide-two.png");
	background-color: #8996a6;
}

#btn-three:checked ~ .site-wrap {
	background-image: url("../img/slide-three.png");
	background-color: #9d8b84;
}

.slide-controls {
	position: absolute;
	bottom: 20px;
	left: 0;
	font-size: 0;
	z-index: 0;
}

.slide-controls label {
	display: inline-block;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #ffffff;
	margin-right: 8px;
	vertical-align: top;
	cursor: pointer;
}

.slider-switches-toggle:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-switches-toggle:active {
  background-color: #fff;
}

.toggle-wrapper[id="btn-one"]:checked ~ .slider-switches-toggle:first-of-type,
.toggle-wrapper[id="btn-two"]:checked ~ .slider-switches-toggle:nth-of-type(2),
.toggle-wrapper[id="btn-three"]:checked ~ .slider-switches-toggle:last-of-type {
  background-color: #fff;
}

.slide-btn {
	padding: 10px 40px;
	border-radius: 31px;
	font-size: 32px;
	line-height: 44px;
}

.offer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
}

.offer-one,
.offer-two {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 16px 19px;
	width: 560px;
	min-height: 229px;
	border-radius: 15px;
}

.offer-one {
	background: #681021 url("../img/razz.jpg");
	background-size: cover;
	margin-right: 26px;
}

.offer-two {
	background: #472c1f url("../img/chocolate.jpg") no-repeat;
	background-size: cover;
}

.offer h3 {
	margin: 0 0 16px 0;
	font-size: 35px;
	line-height: 41px;
}

.offer p {
	font-size: 18px;
	line-height: 22px;
	padding: 0;
	margin: 0;
}

.offer-btn {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	background: -webkit-gradient( linear, left top, right top, from(rgb(202,56,36)), to(rgb(242,104,67)));
	background: -webkit-linear-gradient( left, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
	background: -o-linear-gradient( left, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
	background: linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
	-webkit-box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
	box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
	padding: 12px 22px;
	border-radius: 22px;
	font-size: 18px;
	line-height: 24px;
	margin-top: 44px;
	margin-right: 3px;
}

.catalog-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	padding: 0;
	margin: 0;
	list-style: none;
}

.catalog-item {
	position: relative;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 33px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item-image img {
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.catalog-item-image {
	padding: 0;
	margin: 0 0 8px 0;
}

.bestseller .catalog-item-image::after {
	content: "";
	width: 61px;
	height: 61px;
	position: absolute;
	z-index: 4;
	background: url("../img/hit.svg") no-repeat center;
	top: 0;
	left: 0;
}

.catalog-title {
	position: relative;
	z-index: 5;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	margin: 0 0 5px 5px;
	width: 96%;
}

.catalog-title span {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.catalog-title:hover span {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.4);
}

.catalog-item-price {
	position: absolute;
	font-size: 45px;
	line-height: 45px;
	z-index: 3;
	top: 165px;
	left: -1px;
}

.catalog-item-price::after {
	content: "";
	width: 35px;
	height: 40px;
	background: url("../img/ruble.svg") no-repeat center;
	position: absolute;
	top: 2px;
	left: 78px;
}

.kilo {
	font-size: 30px;
	line-height: 45px;
	margin-left: 35px;
}

.catalog-item-btn {
	padding: 10px 17px;
	border-radius: 19px;
}

.catalog-hover {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	position: absolute;
	padding-bottom: 20px;
	border-radius: 5px;
	top: -5px;
	bottom: -82px;
	left: -13px;
	right: -13px;
	z-index: 1;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .catalog-hover {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.catalog-item:hover ~ .catalog-item {
	z-index: 0;
}

.features {
	width: 1145px;
	padding: 24px 20px 16px 19px;
	background: #d3c8b0 url(../img/waffle.jpg) repeat;
	color: #323232;
	font-weight: normal;
	border-radius: 15px;
	margin-bottom: 38px;
}

.features h1 {
	margin: 0 0 7px 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
}

.features-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.features-item {
	width: 535px;
	padding-left: 57px;
	margin-bottom: 8px;
	margin-right: 30px;
	position: relative;

}

.features-item:nth-child(2n) {
	margin-right: 0;
}

.features-item::before {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	top: -15px;
	left: 0;
}

.features-item:first-child::before {
	background-image: url("../img/ice-cream.svg");
}

.features-item:nth-child(2)::before {
	background-image: url("../img/cow.svg");
}

.features-item:nth-child(3)::before {
	background-image: url("../img/eco.svg");
}

.features-item:last-child::before {
	background-image: url("../img/thermometer.svg");
}

.blog-subscription {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 42px;
}

.blog,
.subscription {
	padding: 24px 19px;
	width: 560px;
	min-height: 220px;
	border-radius: 15px;
}

.blog {
	background: #ffffff url("../img/strawberry.jpg") no-repeat 202px -31px;
	margin-right: 26px;
}

.blog h3 {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 3px;
}

.blog h4 {
	width: 282px;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
}

.blog a {
	color: #353535;
	border-bottom: 2px solid #353535;
	font-size: 24px;
	line-height: 30px;
}

.subscription {
	background: repeating-linear-gradient(-45deg, rgb(146, 205, 255) 0px, rgb(146, 205, 255) 5px, rgb(248, 247, 244) 5px, rgb(248, 247, 244) 10px, rgb(254, 158, 144) 10px, rgb(254, 158, 144) 15px, rgb(248, 247, 244) 15px, rgb(248, 247, 244) 20px);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(248, 247, 244)), to(rgb(248, 247, 244))), repeating-linear-gradient(-45deg, rgb(146, 205, 255) 0px, rgb(146, 205, 255) 5px, rgb(248, 247, 244) 5px, rgb(248, 247, 244) 10px, rgb(254, 158, 144) 10px, rgb(254, 158, 144) 15px, rgb(248, 247, 244) 15px, rgb(248, 247, 244) 20px);
    background:-webkit-repeating-linear-gradient(135deg, rgb(146, 205, 255) 0px, rgb(146, 205, 255) 5px, rgb(248, 247, 244) 5px, rgb(248, 247, 244) 10px, rgb(254, 158, 144) 10px, rgb(254, 158, 144) 15px, rgb(248, 247, 244) 15px, rgb(248, 247, 244) 20px);
    background:-o-repeating-linear-gradient(135deg,#92cdff 0,#92cdff 5px,#f8f7f4 5px,#f8f7f4 10px,#fe9e90 10px,#fe9e90 15px,#f8f7f4 15px,#f8f7f4 20px);
	padding: 5px;
}

.subscription-wrap {
	display: block;
	padding: 30px 20px 30px 21px;
	width: 550px;
	height: 100%;
	background: #f8f7f4;
	border-radius: 10px;
}

.subscription p {
	color: #5a5a5a;
	font-weight: normal;
	margin: 0;
}

.subscription-subs-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto 0 8px;
}

.subscription input[type="email"] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	width: 60%;
	margin-top: 37px;
	margin-right: 10px;
}

.subscription-btn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 37px;
	padding: 10px 18px;
	border-radius: 22px;
	font-size: 18px;
	line-height: 24px;
}

.map {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background: url("../img/map.jpg") no-repeat center;
}

.address {
	position: absolute;
	width: 303px;
	padding: 31px 25px;
	min-height: 305px;
	border-radius: 15px;
	color: #323232;
	background: #ffffff;
	top: 60px;
	right: calc(50% - 575px);
}

.address p {
	padding: 0;
	margin: 0;
}

.address .address-title {
	width: 150px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 2px;
}

.address .address-street {
	width: 222px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 17px;
}

.address .address-second-title {
	width: 180px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 5px;
}

.address .address-number {
	width: 150px;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 1px;
	font-weight: bold;
}

.address .address-time {
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	margin-bottom: 23px;
}

.address .address-btn {
	padding: 10px 28px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 22px;
}

.page-title {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 25px;
	font-size: 35px;
	line-height: 41px;
}

.filter {
	margin-bottom: 23px;
}

.filter-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 855px;
}

.filters fieldset {
	border: none;
	padding: 0;
	margin: 0 0 15px 0;
}

.filters legend {
	margin-bottom: 7px;
	margin-left: 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-oiliness-wrap,
.filter-fillers-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 35px;
	border-radius: 18px;
	background: rgba(248, 247, 244, 0.2);
	padding: 8px 6px 8px 3px;
}

.filter-fillers-wrap {
	padding: 8px 0;
}

.sorting select {
	background: rgba(248, 247, 244, 0.2) url("../img/select-arrow.svg") no-repeat 170px center;
	padding-left: 15px;
	height: 35px;
	width: 193px;
	border-radius: 18px;
	border: none;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.sorting select::-ms-expand {
    display: none;
}

.sorting select:hover,
.sorting select:focus {
	background: #fff url("../img/select-arrow-black.svg") no-repeat 170px center;
	color: #323232;
	outline: 0;
}

.filter-rang {
	width: 219px;
	font-size: 14px;
	line-height: 16px;
}

.filter-price-range {
	display: block;
	margin-left: 15px;
	margin-bottom: 8px;
}

.rang-color-wrap {
	border-radius: 18px;
	background: rgba(248, 247, 244, 0.2);
	padding: 16px 20px;
}

.filter-rang .scale {
	position: relative;
	width: 175px;
	height: 4px;
	background: rgba(248, 247, 244, 0.5);
	margin-left: 5px;
	top: 0px;
	left: -5px;
}

.filter-rang .bar {
	width: 50%;
	height: 4px;
	background: rgba(248, 247, 244, 1);
	margin-left: 14%;
}

.filter-rang .range-roller {
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #f8f7f4;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: -8px;
}

.filter-rang .range-roller:hover,
.filter-rang .range-roller:focus {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.filter-rang .roller-min {
	left: 8%;
}

.filter-rang .roller-max {
	left: 64%;
}

.oiliness {
	width: 413px;
}

.oiliness input[type="radio"] + .filter-radio {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -34px;
	top: -2px;
	background: url("../img/radio-off.svg") no-repeat center;
}

.oiliness input[type="radio"]:focus + .filter-radio,
.fillers input[type="checkbox"]:focus + .filter-checkbox {
	border-color: #663d15;
	outline: 5px auto -webkit-focus-ring-color;
}

.oiliness input[type="radio"]:checked + .filter-radio {
	background: url("../img/radio-on.svg") no-repeat center;
}

.fillers input[type="checkbox"] + .filter-checkbox {
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	-webkit-transform: translateX(-32px);
	-ms-transform: translateX(-32px);
	transform: translateX(-32px);
	top: -2px;
	background: url("../img/checkbox-off.svg") no-repeat 0 center;
}

.fillers input[type="checkbox"]:checked + .filter-checkbox {
	background: url("../img/checkbox-on.svg") no-repeat 0 center;
	position: absolute;
	-webkit-transform: translateX(-32.25px);
	-ms-transform: translateX(-32.25px);
	transform: translateX(-32.25px);
}

.fillers {
	width: 700px;
}

.filters label {
	position: relative;
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	opacity: 0.8;
	cursor: pointer;
}

.filter-oiliness-wrap label {
	margin-left: 49px;
}

.filter-fillers-wrap label {
	margin-left: 53px;
}

.filters label:hover,
.filters label:focus {
	opacity: 1;
}

.filter-oiliness-wrap label:first-child {
	margin-left: 44px;
}

.filter-fillers-wrap label:first-child {
	margin-left: 48px;
}

.filters input:disabled + .filter-checkbox,
.filters input:disabled + .filter-radio {
	opacity: 0.4;
}

.filter .filter-btn {
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline;

	margin-top: 23px;
	padding: 7px 24px 8px 27px;
	border: 2px solid #ffffff;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	text-align: center;
	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #323232;
	background: #ffffff;
	outline: 0;
}

.filter-btn:active {
	background: #ededed;
	-webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
	box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
	border-color: transparent;
}

.pagination-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;

	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 44px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.pagination-list li {
	margin-right: 3px;
}

.pagination-item a,
.pagination-arrow a,
.pagination-item-current a {
	display: inline-block;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
}

.pagination-disable	 a {
	opacity: 0.2;
	cursor: default;
}

.pagination-arrow-prev a {
	display: inline-block;
	width: 18px;
	height: 26px;
	background: url("../img/icon-right-small.svg") no-repeat right center;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.pagination-arrow-next a {
	display: inline-block;
	width: 18px;
	height: 26px;
	background: url("../img/icon-right-small.svg") no-repeat right center;
}

.pagination-item-current a {
	background: #ffffff;
	color: #353535;
	border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination-item a:active {
	background: #ffffff;
	color: #353535;
	border-radius: 50%;
}

/*Footer*/

.main-footer .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100px;
}

.footer-inner {
	position: relative;
}

.footer-inner .container::before {
	content: "";
	width: 1146px;
	height: 1px;
	background: rgb(255, 255, 255);
	position: absolute;
	left: 50%;
	top: -6px;
	margin-left: -573px;
	opacity: 0.3;
}

.footer-navigation {
	font-size: 13px;
	line-height: 18px;
}

.footer-social,
.footer-navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 340px;
	margin-right: 98px;
	margin-top: 31px;
	margin-left: 2px;
}

.social-btn {
	display: block;
	width: 38px;
	height: 38px;
	margin-right: 10px;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);
	position: relative;
}

.social-btn:hover,
.social-btn:active {
	border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	left: 0px;
	top: 0px;
}

.social-btn:hover::before {
	opacity: 1;
}

.social-btn:active::before {
	opacity: 0.7;
}

.twitter::before {
	background-image: url("../img/twitter.svg");
}

.instagram::before {
	background-image: url("../img/instagram.svg");
}

.fb::before {
	background-image: url("../img/fb.svg");
}

.vk::before {
	background-image: url("../img/vk.svg");
}

.footer-navigation {
	margin-top: 27px;
}

.footer-navigation-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 350px;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.footer-navigation-list a {
	color: #fff;
	display: inline-block;
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus,
.footer-copyright a:last-child:hover,
.footer-copyright a:last-child:focus {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.4);
	outline: 0;
}

.footer-navigation-list li:first-child {
	position: relative;
}

.footer-navigation-list li:first-child::before {
	content: "";
	display: block;
	width: 38px;
	height: 39px;
	position: absolute;
	background: url("../img/heart.svg") no-repeat left center;
	left: -23px;
	top: -10px;
}

.footer-navigation-list li:not(:first-child) {
	font-weight: normal;
}

.footer-navigation-list li {
	min-width: 130px;
	margin-right: 12px;
	margin-bottom: 3px;
}

.footer-copyright {
	width: 200px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin-top: 13px;
	margin-left: 184px;
}

.footer-copyright a:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-copyright span {
	display: inline-block;
}

.feedback-text {
	display: inline-block;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
	margin-bottom: 20px;
}

.modal-feedback {
	display: none;
	position: fixed;
	width: 478px;
	height: 438px;
	background: #f8f7f4;
	border-radius: 10px;
	padding: 18px 23px;
	left: 50%;
	margin-left: -239px;
	top: calc(50% - 219px);
	z-index: 10;
}

.modal-feedback input {
	margin-bottom: 20px;
}

.modal-feedback form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.modal-feedback input[type="text"] {
	width: 253px;
}

.modal-feedback textarea {
	width: 413px;
	height: 150px;
	margin-bottom: 30px;
	resize: none;
}

.feedback-btn {
	padding: 10px 18px;
	border-radius: 22px;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.modal-close {
	width: 18px;
	height: 17px;
	border: none;
	background: url("../img/cross-big.svg");
	position: absolute;
	top: 27px;
	right: 26px;
	cursor: pointer;
}

.modal-show {
	display: block;
	-webkit-animation: modal 1s;
	animation: modal 1s;
}

@-webkit-keyframes modal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes modal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

.ymap {
	width: 100%;
	height: 430px;
	margin-bottom: 5px;
}

.blackout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-animation-name: blackout;
	animation-name: blackout;
	-webkit-animation-duration:  0.6s;
	animation-duration:  0.6s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes blackout {
	0% {
		background: none;
	}

	100% {
		background: rgba(0, 0, 0, 0.4);
	}
}

@keyframes blackout {
	0% {
		background: none;
	}

	100% {
		background: rgba(0, 0, 0, 0.4);
	}
}

