.button {
  font-size: @medium-font;
  font-weight: 700;
  color: @white;
  border: 3px solid;

  &_download {
    background-color: #1d2631;
  }

  &_main-form {
    border-color: #2aab6d;
    background-color: #2aab6d;
  }

  &_load {
    line-height: 18px;
    text-align: @text-align;
  }

  &_load-post {
    color: @strong-pink;
    border-color: @strong-pink;
  }

  &_load-cancel {
    color: rgba(40,54,69,.1);
    border-color: rgba(40,54,69,.1);
  }
}
