.features__header {
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
}

.features__header-title {
  font-size: @max-font;
  text-align: @text-align;
  font-weight: 300;
  margin: 28px 0;
}

.features__item {
  text-align: @text-align;

  &_img {
    padding-bottom: 320px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 182px;
    background-size: 157px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }

  &_img-desktop {
    display: none;
  }
}

.features__title {
  line-height: 24px;
  font-size: @medium-font;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.features__item:first-of-type .features__title:first-of-type {
  margin-top: 0;
}

.features__text {
  line-height: 24px;
  margin-bottom: 0;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  padding-top: 80px;
}

.features__wrapper {
  background-color: @light-gray;
  min-height: 485px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 660px) {
  .features__header {
    width: 620px;
    padding-bottom: 45px;
  }

  .features__header-title {
    font-size: 40px;
    line-height: 50px;
  }

  .features__header-title:first-child {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .features__header-title:last-child {
    width: 335px;
    margin: 0 auto;
  }

  .features__list {
    width: 620px;
    position: relative;
    align-items: flex-end;
    padding-top: 70px;

    &::before {
      position: absolute;
      content: "";
      width: 268px;
      height: 481px;
      left: 0;
      top: -1px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: 25% 0;
      background-size: contain;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .features__wrapper {
    min-height: 480px;
  }

  .features__item {
    width: 310px;
    text-align: left;

    &_img {
      background-image: none;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 960px) {
  .features__header {
    width: 820px;
    padding-top: 24px;
    padding-bottom: 75px;
  }

  .features__header-title {
    font-size: 50px;
    line-height: 60px;

    &:first-child {
      margin-top: 0;
    }
  }

  .features__header-title:last-child {
    width: 450px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 940px;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .features__item {
    width: 280px;
    text-align: center;
    padding-top: 0;
    margin-left: 5px;

    &::before {
      display: block;
      content: "";
      width: 292px;
      height: 302px;
      margin: 0 auto;
    }

    &_mood::before {
      background: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &_world::before {
      background: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &_friends {
      margin-right: 15px;

      &::before {
        background: url("../img/iphone-screen-3-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-3-desktop@2x.png");
        }
      }
    }
  }

  .features__title,
  .features__item:first-of-type .features__title:first-of-type {
    margin-top: 54px;
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 15px;
  }

  .features__item_friends .features__title {
    width: 240px;
    padding-left: 25px;
  }

  .features__text {
    font-size: @medium-font;
    line-height: 30px;
    width: 238px;
    padding-left: 27px;
    margin-top: 27px;
  }
}
