.features__header {
  width: 280px;
  margin: 0 auto;
}

.features__header-title {
  font-size: @max-font;
  text-align: @text-align;
  font-weight: 300;
  margin: 28px 0;
}

.features__item {
  text-align: @text-align;

  &_img {
    padding-bottom: 327px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 172px;
  }

  &_img-desktop {
    display: none;
  }
}

.features__title {
  line-height: 24px;
  font-size: @medium-font;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.features__item:first-of-type .features__title:first-of-type {
  margin-top: 0;
}

.features__text {
  line-height: 24px;
  margin-bottom: 0;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  padding-top: 80px;
}

.features__wrapper {
  background-color: @light-gray;
  min-height: 485px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
}

@media (min-width: 660px) {
  .features {
    padding-top: 90px;
  }

  .features__header {
    width: 620px;
    padding-bottom: 45px;
  }

  .features__header-title {
    font-size: 40px;
    line-height: 50px;
  }

  .features__header-title:first-child {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .features__header-title:last-child {
    width: 335px;
    margin: 0 auto;
  }

  .features__list {
    width: 620px;
    position: relative;
    align-items: flex-end;

    &::before {
      position: absolute;
      content: "";
      width: 268px;
      height: 481px;
      left: 0;
      top: 3px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 25% 0;
      background-size: 268px auto;
    }
  }

  .features__item {
    width: 310px;
    text-align: left;

    &_img {
      background-image: none;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .features {
    padding-top: 40px;
  }

  .features__header {
    width: 820px;
    padding-top: 110px;
    padding-bottom: 75px;
  }

  .features__header-title {
    font-size: 50px;
    line-height: 60px;
  }

  .features__header-title:last-child {
    width: 450px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 940px;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .features__item {
    width: 230px;
    text-align: center;
    padding-top: 0;

    &_img-desktop {
      display: initial;
    }
  }

  .features__title,
  .features__item:first-of-type .features__title:first-of-type {
    margin-top: 55px;
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
  }

  .features__text {
    font-size: @medium-font;
    line-height: 30px;
    width: 238px;
  }
}
