.fieldset {
  border: none;

  &_name {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &_contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_textarea {
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.fieldset__wrapper {
  background-color: @light-gray;
  padding-top: 36px;
  padding-bottom: 18px;
}

.fieldset__legend {
  color: #d22856;
  text-transform: @text-transform;
  text-align: @text-align;

  &_story {
    padding-top: 36px;
    padding-bottom: 16px;
  }
}
