.fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 0;

  &_name {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &_contacts {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_textarea {
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.fieldset__wrapper {
  background-color: @light-gray;
  padding-top: 36px;
  padding-bottom: 18px;
}

.fieldset__legend {
  color: #d22856;
  text-transform: @text-transform;
  text-align: @text-align;

  &_story {
    padding-top: 36px;
    padding-bottom: 16px;
  }

  &_contacts {
    display: none;
  }
}

.fieldset__item {
  display: flex;
  flex-direction: column;

  &_row {
    flex-direction: row;
    align-items: baseline;
  }
}

.fieldset-textarea__story {
  font-size: @medium-font;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 15px;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
}

@media (min-width: 660px) {
  .fieldset {
    width: 620px;
    margin-top: 50px;

    &_border {
      border: 2px solid #e5e5e5;
      border-radius: 2px;
      padding-left: 60px;
      padding-right: 60px;
      box-sizing: border-box;
    }

    &_contacts {
      order: 2;
    }

    &_textarea {
      order: 4;
    }
  }

  .fieldset__wrapper {
    background-color: transparent;
    margin: 0 auto;
    padding-top: 0;

    &_achievements {
      order: 3;
    }

    &_app {
      order: 0;
    }
  }

  .fieldset__legend {
    &_story {
      padding-top: 0;
      padding-bottom: 0;
    }

    &_contacts {
      display: block;
    }
  }

  .fieldset-textarea__story {
    margin-top: 40px;
  }

  .fieldset__item {
    flex-direction: row;

    &_contacts {
      flex-direction: column-reverse;
    }
  }
}

@media (min-width: 1200px) {
  .fieldset_border {
    width: 940px;
  }

  .fieldset_name {
    width: 460px;
  }

  .fieldset_width {
    width: 465px;
  }

  .fieldset__wrapper_app {
    margin-left: 0;
  }
}
