.loader-post {
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  .loader-post {
    width: 260px;
    margin-left: 30px;
  }
}

@media (min-width: 960px) {
  .loader-post {
    flex-direction: row;
    min-height: 57px;
    width: 410px;
    margin-left: 0;
  }
}
