.loader {
  padding-top: 20px;
}

.loader__text {
  text-align: @text-align;
  padding-bottom: 40px;
  width: 280px;
  margin: 0 auto;
}

.loader__form-wrapper {
  background-color: @light-gray;
  padding-top: 20px;
  padding-bottom: 41px;
}

.loader__form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  &_tool {
    display: flex;
    flex-direction: column;
  }
}

.loader-form__photo {
  align-self: center;
}

@media (min-width: 660px) {
  .loader {
    padding-top: 45px;
  }

  .loader__text {
    font-size: @medium-font;
    width: 620px;
    padding-bottom: 69px;
  }

  .loader__form {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 620px;

    &_tool {
      justify-content: space-between;
      flex-basis: 300px;
    }
  }

  .loader__form-wrapper {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .loader-form__photo {
    align-self: flex-end;
  }
}

@media (min-width: 1200px) {
  .loader {
    padding-top: 10px;
  }

  .loader__form {
    width: 801px;
  }

  .loader__form-wrapper {
    width: 940px;
    padding-bottom: 57px;
    margin: 0 auto;
  }
}
