.logo-htmlacademy {
  position: absolute;
  top: 0;
  left: 179px;
  fill: @strong-pink;
}

@media (min-width: 660px) {
  .logo-htmlacademy {
    left: 105px;
  }
}

@media (min-width: 960px) {
  .logo-htmlacademy {
    left: 130px;
  }
}
