.main-nav {
  background-color: #283645;
}

.main-nav__logo-link {
  padding-top: 22px;
  padding-bottom: 13px;
}

.main-nav__logo-tablet,
.main-nav__logo-desktop {
  display: none;
}

.main-nav__wrapper-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.main-nav__wrapper {
  text-align: @text-align;
}

.main-nav__toggle {
  display: block;
  position: relative;
  top: 17px;
  right: 0;
  width: 50px;
  height: 29px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover::before {
    background-color: @strong-pink;
    box-shadow: 0 10px 0 0 @strong-pink, 0 20px 0 0 @strong-pink;
  }

  &:active::before {
    background-color: @strong-pink;
    box-shadow: 0 10px 0 0 @strong-pink, 0 20px 0 0 @strong-pink;
    opacity: 0.3;
  }
}

@media (min-width: 660px) {
  .main-nav__logo-link {
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .main-nav__logo-mobile,
  .main-nav__logo-desktop {
    display: none;
  }

  .main-nav__logo-tablet {
    display: block;
  }

  .main-nav__wrapper-nav {
    width: 620px;
    min-height: 110px;
  }

  .main-nav__toggle {
    top: 41px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    min-height: 110px;
    margin: 0 auto;
    background-color: transparent;
  }

  .main-nav__logo-mobile,
  .main-nav__logo-tablet {
    display: none;
  }

  .main-nav__logo-desktop {
    display: block;
  }

  .main-nav__wrapper-nav {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .main-nav__toggle {
    display: none;
  }
}
