.main-map {
  background-color: @light-gray;
}

.main-map__wrapper {
  height: 200px;
}

@media (min-width: 660px) {
  .main-map__wrapper {
    height: 375px;
  }
}

@media (min-width: 1200px) {
  .main-map__wrapper {
    height: 500px;
  }
}
