.main-form__title {
  text-align: @text-align;
  padding-top: 45px;
  margin: 0;
}

.main-form__require {
  text-transform: @text-transform;
}

.main-form__require-note {
  color: @strong-pink;
  font-weight: 700;
}
