.main-form__form {
  display: flex;
  flex-direction: column;
}

.main-form__title {
  text-align: @text-align;
  padding-top: 45px;
  width: 280px;
  margin: 0 auto;
}

.main-form__title span {
  display: none;
}

.main-form__require {
  text-transform: @text-transform;
}

.main-form__require-note {
  color: @strong-pink;
  font-weight: 700;
}

.main-form__require-filling {
  display: none;
}

.main-form__submit-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  min-height: 130px;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 14px;
}

@media (min-width: 660px) {
  .main-form__contest {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .main-form__title {
    font-size: @medium-font;
    padding: 90px 40px 10px;
    box-sizing: border-box;
    width: 620px;
  }

  .main-form__title span {
    display: inline;
  }

  .main-form__submit-wrapper {
    flex-direction: row;
    align-items: center;
    order: 5;
    min-height: 60px;
    padding-top: 67px;
    padding-bottom: 54px;
    width: 100%;
  }
}

@media (min-width: 960px) {
  .main-form__title {
    width: 858px;
    padding-top: 92px;
    padding-bottom: 65px;
  }

  .main-form__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .main-form__contest {
    padding: 0 10px;
  }

  .main-form__submit-wrapper {
    width: 940px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }

  .main-form__require-filling {
    display: inline;
  }
}
