.page-header {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 358px 462px;
  background-position: 50% 0;
  min-height: 237px;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 660px) {
  .page-header {
    min-height: 441px;
  }

  .page-header__index {
    min-height: 729px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    min-height: 395px;
  }

  .page-header__index {
    min-height: 850px;
  }
}
