.page-title__wrapper {
  text-align: @text-align;
  font-size: @max-font;
  color: @white;
  font-weight: 100;
}

.page-title__text {
  font-size: @max-font;
  color: @white;
  font-weight: 100;
  margin: 0;
}
