.price {
  background-color: @light-gray;
  padding-top: 91px;
  padding-bottom: 26px;
}

.price__head {
  background-color: #283645;
  color: @white;
  font-size: @medium-font;
  text-transform: @text-transform;
}

.price__title p {
  font-size: @max-font;
  font-weight: 100;
}

.price__body {
  background-color: @white;
}

.price__item {
  text-transform: @text-transform;
}
