.research__wrapper {
  display: none;
}

@media (min-width: 660px) {
  .research__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    line-height: 24px;
    padding-top: 96px;
    padding-left: 315px;
    padding-bottom: 75px;
    margin: 0 auto;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 23px 115px, 5px 59px;
    background-size: 204px 204px, 241px 278px;

    &::before {
      content: "24";
      display: block;
      position: absolute;
      top: 110px;
      left: 24px;
      width: 205px;
      height: 205px;
      text-align: center;
      font-size: 96px;
      font-weight: 700;
      line-height: 200px;
      color: #d22856;
      background-size: contain;
    }
  }

  .research__title {
    display: block;
    width: 169px;
    font-size: 30px;
    line-height: 36px;
  }

  .research__text {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .research__link {
    color: @strong-pink;
  }
}

@media (min-width: 960px) {
  .research {
    background-color: @light-gray;
    padding-bottom: 41px;
  }

  .research__wrapper {
    width: 940px;
    padding-top: 157px;
    padding-left: 405px;
    background-size: 253px 253px, 298px 345px;
    background-position: 23px 136px, 0 66px;
    box-sizing: border-box;

    &::before {
      font-size: 120px;
      top: 150px;
      left: 48px;
    }

    div {
      margin-left: -35px;
    }
  }

  .research__title {
    width: 320px;

    br {
      display: none;
    }
  }

  .research__text {
    font-size: @medium-font;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 33px;
    width: 549px;

    br {
      display: none;
    }
  }

  .research__link {
    font-size: @medium-font;
  }
}
