.reviews {
  padding-top: 40px;
  padding-bottom: 38px;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  text-align: @text-align;
  margin: 0 auto;

  &_hidden {
    display: none;
  }
}

.reviews__name {
  font-size: @medium-font;
}

.reviews__about {
  font-size: 0;
  height: 0;
}

.reviews__toggle {
  display: none;
}

@media (min-width: 660px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .reviews__wrapper {
    width: 620px;
  }

  .reviews__item {
    flex-direction: column-reverse;
    font-size: @medium-font;

    &_hidden {
      display: none;
    }
  }

  .reviews__name {
    order: 1;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .reviews__about {
    order: 0;
    font-size: @base-font;
    height: auto;
  }

  .reviews__text {
    order: 2;
    margin-bottom: 35px;
  }
}

@media (min-width: 960px) {
  .reviews {
    padding-top: 144px;
    background-image: url("../img/icon-quotes.svg");
    background-size: 78px 63px;
    background-repeat: no-repeat;
    background-position: 50% 70px;
    padding-bottom: 40px;
  }

  .reviews__wrapper {
    position: relative;
    width: 760px;
  }

  .reviews__name {
    font-size: @max-font;
  }

  .reviews__text {
    margin-top: 40px;
  }

  .reviews__about {
    font-size: @medium-font;
  }

  .reviews__toggle {
    display: block;
    position: absolute;
    font-size: 0;
    top: 64px;
    height: 42px;
    border: none;
    background-color: transparent;

    &_previous {
      left: -100px;
      padding-left: 10px;
    }

    &_next {
      right: -100px;
      padding-right: 10px;
    }

    & svg {
      fill: #bec2c7;
    }

    &:hover svg {
      fill: #7e868f;
    }

    &:active svg {
      opacity: 0.1;
    }
  }
}
