.slider-toggles {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 659px) {
  .slider-toggle {
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;

    &:hover {
      background-color: #7e868f;
    }

    &:active {
      opacity: 0.3;
    }

    &_active {
      background-color: @white;
      border: 3px solid #283645;

      &:hover {
        background-color: @white;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
