.user-photo-item {
  padding-bottom: 20px;
  width: 280px;
  margin: 0 auto;
}

.user-photo-item__description {
  background-color: @light-gray;
}

.user-photo-item__name {
  line-height: 24px;
}

.user-photo-item__name span {
  font-size: 12px;
  text-transform: @text-transform;
  font-weight: 100;
}

.user-photo-item__text {
  line-height: 24px;
}

.user-photo-item__like {
  font-size: 12px;
  color: @strong-pink;
  text-transform: @text-transform;
}

.user-photo-item__img {
  width: 280px;
  margin-bottom: -10px;

  &_panorama {
    width: 100%;
  }
}

@media (min-width: 660px) {
  .user-photo-item {
    width: 300px;
    margin-left: 0;
    margin-right: 0;

    &_panorama {
      width: 620px;
      margin: 0 auto;
    }
  }

  .user-photo-item__description {
    min-height: 155px;

    &_panorama {
      min-height: auto;
    }
  }
}

@media (min-width: 1200px) {
  .user-photo-item_panorama {
    width: 940px;
  }
}
